@charset "css"
/*css document*/
*{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
.list_main{
	width: 1000px;
	min-height: 350px;
	/*_height: 350px;*/
	background-color: #FFF;
	margin: 0 auto;
	margin-top: 10px;
}
.news_type{
	width: 220px;
	height: 350px;
	border: 1px solid #E8E8E8;
	float: left;
}
.list_box{
	width: 770px;
	min-height: 350px;
	/*_height: 350px;*/
	border: 1px solid #E8E8E8;
	background-color: #FFF;
	float: right;
}
.news_type h2{
	height: 35px;
	line-height: 35px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666; 
	background: url(../images/titile_bg.gif) repeat-x;
	padding-left: 20px;
}
.news_type_content{
	height: 365px;
	background: url(../images/content_bg.gif) repeat-x;
}
.news_type_content li{
	list-style-type: none;
	height: 30px;
	line-height: 30px;
}
.news_type_content li a{
	color: #666;
	text-decoration: none;
	background: url(../images/li_bg.gif) no-repeat left center;
	padding-left: 15px;
	display: block;
}
.news_type_content li a:hover{
	color: #009CDF;
	background: url(../images/li_bg2.gif) no-repeat left center;
	background-color: #F2F2F2;
}
.list_box h2{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #666;
	height: 35px;
	line-height: 35px;
	background: url(../images/type_bg.png) repeat-x;
	padding-left: 20px;
}
.wb_1 {
    width: 674px;
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
}
.wb_1 h1{
	font-size: 20px;
}
.wb_5{
    width: 635px;
    margin: 0 auto;
    font-size: 14px;
}

.pages{
	height: 40px;
	margin-top: 150px;
	text-align: center;
}
.pages a{
	display: inline-block;
	border: 1px solid #E8E8E8;
	text-decoration: none;
	margin: 5px;
	padding: 5px 10px;
}
.pages a:link,.pages a:visited:{
	 color: #000;
}
.pages a:hover,.pages a:active{
	color: #FFF;
	background-color: #CC1B1B;
}
.pagesxinwen{
	height: 40px;
	margin-top: 10px;
	text-align: center;
}
.pagesxinwen a{
	display: inline-block;
	border: 1px solid #E8E8E8;
	text-decoration: none;
	margin: 5px;
	padding: 5px 10px;
}
.pagesxinwen a:link,.pagesxinwen a:visited:{
	 color: #000;
}
.pagesxinwen a:hover,.pagesxinwen a:active{
	color: #FFF;
	background-color: #CC1B1B;
}
.text_c {
    border: 1px solid #eeebe3;
    padding: 15px;
    margin-top: 15px;
}
.text_c h1 {
    padding: 0;
    margin: 10px 0 15px 0;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
}
.tc {
    text-align: center;
}
.text_c h5 {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    color: #999;
    margin-top: 5px;
}
.text_c a:link,.text_c a:visited {
    color: #000;
    text-decoration: none;
}
.text_show {
    padding-top: 20px;
    font-size: 14px;
}
.text_show p {
    text-indent: 0em;
    line-height: 30px;
    padding: 0;
    margin: 10px 0;
    font-size: 16px;
    color: #26214A;
}



























