@charset "css"
/*css document*/
*{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
.list_main{
	width: 1000px;
	min-height: 350px;
	/*_height: 350px;*/
	background-color: #FFF;
	margin: 0 auto;
	margin-top: 10px;
}
.news_type{
	width: 220px;
	height: 350px;
	border: 1px solid #E8E8E8;
	float: left;
}
.list_box{
	width: 770px;
	min-height: 350px;
	/*_height: 350px;*/
	border: 1px solid #E8E8E8;
	background-color: #FFF;
	float: right;
}
.news_type h2{
	height: 35px;
	line-height: 35px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666; 
	background: url(../images/titile_bg.gif) repeat-x;
	padding-left: 20px;
}
.news_type_content{
	height: 365px;
	background: url(../images/content_bg.gif) repeat-x;
}
.news_type_content li{
	list-style-type: none;
	height: 30px;
	line-height: 30px;
}
.news_type_content li a{
	color: #666;
	text-decoration: none;
	background: url(../images/li_bg.gif) no-repeat left center;
	padding-left: 15px;
	display: block;
}
.news_type_content li a:hover{
	color: #009CDF;
	background: url(../images/li_bg2.gif) no-repeat left center;
	background-color: #F2F2F2;
}
.list_box h2{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #666;
	height: 35px;
	line-height: 35px;
	background: url(../images/type_bg.png) repeat-x;
	padding-left: 20px;
}
.wb_1 {
    width: 674px;
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
}
.wb_1 h1{
	font-size: 20px;
}
.wb_5{
    width: 635px;
    margin: 0 auto;
    font-size: 14px;
}



























